* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
}

header a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 16px 0;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero h2 {
    font-size: 18px;
    color: #E5E7EB;
}

.info {
    flex: 1;
}

.info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    flex: 1;
}

button {
    color: #E5E7EB;
    padding: 8px 16px;
    background-color: #3882F6;
    border: 1px none #3882F6;
    border-radius: 8px;
}

.call-to-action {
    color: #E5E7EB;
    background-color: #3882F6;
    flex: 1;
}

footer {
    color: #E5E7EB;
    background-color: #1F2937;
    text-align: center;
    padding: 16px 0;
}